*{
   /* position: absolute;*/
}
h1{
    text-align: center;
}
.fr_1{
    size: "2";
    color: rgb(0, 0, 0);
}
table{
    border: 1px solid rgb(201,199,81);
    text-align: center;
    border-spacing: 0;
    border-collapse: 0;
}
footer{
    position: absolute;
    bottom: 0px;
    left: 50%;
}